@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #2e2e2e;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #1f1f1f;
  border-radius: 0.5rem;
  display: grid;
  padding: 12px;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, 10rem) repeat(5, 6rem);
}
.component-imput-btn {
  font-size: 2rem;
  border: 2px solid #1f1f1f;
  color: #fff;
  border-radius: 0.5rem;
}
.operation-btn {
  background-color: #131313;
}
.digit-btn {
  background-color: #060606;
}
.component-imput-btn:active {
  background-color: #2e2e2e;
  color: white;
  outline: none;
}

.component-imput-btn:nth-child(2),
.component-imput-btn:nth-child(19) {
  grid-column: span 2;
}
.component-screen {
  background-color: #1f1f1f;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.component-screen-previous {
  overflow-y: hidden;
}
.component-screen-previous,
.component-screen-operation {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  text-align: right;
}
.component-screen-current {
  color: white;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .component-imput-btn:hover {
    background-color: #2e2e2e;
    color: white;
    outline: none;
  }
}
